<h2>Update Tag</h2>
<%= simple_form_for @tag, html: { class: 'form-horizontal'} do |form| %>
  <%= form.input :name %>
  <%= form.input :description %>
  <div class="form-actions">
    <%= form.submit 'Update Tag', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', tags_path, class: 'btn btn-danger' %>
  </div>
<% end %>
