<h2><%= @tag.name %></h2>

<p><%= @tag.description %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Value</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tag.mapped_values.each_with_index do |mapped_value, i| %>
      <tr>
        <td><%= i %></td>
        <td><%= mapped_value.value %></td>
        <td>
          <div class="pull-right">
          <%= link_to 'Edit', edit_mapped_value_path(mapped_value), class: 'btn btn-small btn-primary' %>
          <%= link_to 'Delete Value', mapped_value_path(mapped_value), method: :delete, class: 'btn btn-small btn-danger' %>
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
