<!DOCTYPE html>
<html>
<head>
  <title>TagCloud</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'Tag-Cloud', root_path, class: 'brand' %>
      </div>
    </div>
  </div>

  <%= yield %>

  <%= javascript_include_tag "application" %>
</body>
</html>
