<!DOCTYPE html>
<html>
  <head>
    <title>TagCloud</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to 'Tag-Cloud', root_path, class: 'brand' %>
          <ul class="nav">
            <li><%= link_to 'Tags', tags_path %></li>
            <li><%= link_to 'New Value', new_mapped_value_path %></li>
          </ul>
          <%= render 'layouts/userpanel'%>
        </div>
      </div>
    </div>

    <div class="container">
      <%= render 'layouts/flashes' %>
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
